---
layout: home
---

<h1>Subway Station Visits</h2>
<p>
  Testing a way to keep track of how many New York City Subway stations I have visited. See below.
</p>

<table class="hidden-xs-up"> <!-- this table (and the ending close tag) are to account for lack of ability
                                  to check if there was a previous table/if there is a next table -->
{% for station in site.data.stations %}
	{% if station.station_ID == "LINE" or station.station_ID == "LINES" %}
		</table>
		<h2>{{ station.line }} {% if station.station_ID == "LINE" %}Line{% else %}Lines{% endif %}</h2>
		<table>
	{% else %}
	<tr class="{% if station.visited == "yes" %}table-success{% endif %}{% if station.visited == "no" %}table-danger{% endif %}">
		<th>{{ station.stop_name }}</th>
		<td>({{ station.routes }})</td>
		<td>{% if station.visited == "yes" %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}{% if station.visited == "no" %}<i class="fa fa-close" aria-hidden="true"></i>{% endif %}</td>
		<td><a href="https://www.google.com/maps/?q={{ station.gtfs_lat }},{{ station.gtfs_lon }}"><i class="fa fa-map-marker aria-hidden="true"></i></a></td>
	</tr>
	{% endif %}
{% endfor %}
</table>
